
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br>
        <br>
        <h2 class="header center orange-text">Bem vndo!</h2>
        <div class="row center">
            <h5 class="header col s12 light"> Em breve mais informacções sobre o sitema serão divulgadas aqui!</h5>
        </div>
        <br>
        <br>

    </div>
</div>


<%= render  "layouts/shareds/loader" %>