<header id="header" class="page-topbar">
    <div class="navbar-fixed">
        <nav class="gradient-45deg-indigo-purple">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Bubbo</a>
            </div>
        </nav>
    </div>
</header>