<footer class="page-footer gradient-45deg-indigo-purple">
    <div class="footer-copyright">
        <div class="container">
            Projeto realizado como trabalho da disciplina de conclusão de curso da faculdade
            <a class="orange-text text-lighten-3"
                href="http://www.fafit.com.br">FAFIT</a>
        </div>
    </div>
</footer>