<nav class="deep-purple" role="navigation">
  <div class="nav-wrapper container"> <%= link_to "Bubbo", root_path, class: "brand-logo", id: "logo-container" %>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Cadastre-se", new_user_registration_path %></li>
      <li><%= link_to "Entre", new_user_session_path %></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h2 class="header center orange-text">Bubbo</h2>
      <div class="row center">
        <h5 class="header col s12 light"> O aplicativo ideial para avaliação de rendimento escolar</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Saiba mais</a>
      </div>
      <br><br>
  
    </div>
  </div>
  
  
  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">flash_on</i></h2>
            <h5 class="center">Resultados rapidos</h5>
            <p class="light">O sistema de avaliação do bubbo é capaz de fornecer informações rapidas e precisas sobre a absorção de conteudo em sala de aula. Fazendo com que o professor tenha acesso aos dados fornecidos de maneira simples e eficiente.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">games</i></h2>
            <h5 class="center">Sistema de conquistas</h5>
  
            <p class="light">Bubbo conta com um sistema de conqusitas capaz de tornar o uso da aplição algo mais divertido. As conquistas podem ser obtidas como recomponsas ao concluir determinados objetivos listados no App.</p>
          </div>
        </div>
  
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">settings</i></h2>
            <h5 class="center">Facil de usar</h5>
  
            <p class="light">Alem da facilidade e simplicidade da utilização do App. nós ainda lhe oferecemos uma documentação completa acompanhada de imagens para o melhor entendimento e ainda contamos com nosso suporte para auxilia-lo a encontrar e resolver duvidas que possam surgir.</p>
          </div>
        </div>
      </div>
  
    </div>
    <br><br>
  </div>
  
  <footer class="page-footer deep-purple">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sobre a companhia</h5>
          <p class="grey-text text-lighten-4">Somos uma equipe de estudantes universitários que trabalham neste projeto, como é nosso trabalho a tempo inteiro. Qualquer montante ajudaria a apoiar e continuar o desenvolvimento deste projeto e é muito apreciado.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Mapa do Site</h5>
          <ul>
            <li><a class="white-text" href="#!">Cadastro</a></li>
            <li><a class="white-text" href="#!">Login</a></li>
            <li><a class="white-text" href="#!">Bubbo no celular</a></li>
            <li><a class="white-text" href="#!">Clientes</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contato</h5>
          <ul>
            <li><a class="white-text" href="#!">Telefone</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Projeto realizado como trabalho da disciplina de conclusão de curso da faculdade <a class="orange-text text-lighten-3" href="http://www.fafit.com.br">FAFIT</a>
      </div>
    </div>
  </footer>